body { margin: 0; padding: 0; }
#map { width: 100%; height: 100vh; }

.popup-content { text-align: center; min-width: 200px; }
.popup-content h3 { margin: 0 0 5px 0; color: #007bff; }
.popup-content p { margin: 3px 0; font-size: 14px; }

/* Botão Adotar (Verde) */
.btn-adotar {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
}
.btn-adotar:hover { background-color: #218838; }

/* Botão Adotado (Cinza) */
.btn-adotado {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: not-allowed;
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
}

.btn-cancelar {
    background-color: #dc3545; /* Vermelho */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    border: 1px solid #b02a37;
}

.btn-cancelar:hover {
    background-color: #bb2d3b;
}
