body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100vh; /* O mapa vai ocupar 100% da altura da tela */
}

/* Estilo do Popup (o balãozinho que abre) */
.popup-content h3 {
    margin: 0 0 5px 0;
    color: #007bff;
}

.popup-content p {
    margin: 3px 0;
    font-size: 14px;
}