body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100vh;
}
.popup-content h3 {
    margin: 0 0 5px 0;
    color: #007bff;
}

.popup-content p {
    margin: 3px 0;
    font-size: 14px;

}
